/*
     RESET CSS
*/

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100..900&display=swap');

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}
ol, ul {
  padding: 0;
  margin: 0;
}

.abril-font {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
} 

.tradegothic-font {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    font-style: normal;
  } 
  
.montserrat-semibold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

.montserrat-semibold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserrat-14px {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

/* Variaveis */
:root {
  --color-prin: #0C1F3A;
  --color-secun: #2A82E9;
  --color-terc: #fff;
  --color-gray: #9BA4B5;
  --color-green: #03a691;
}

body{
    font-size: 100%;
    list-style-type: none;
    background-color: #FAFBFC;
    font-family: "Montserrat", sans-serif;
}

#copied {
  display: none;
}

#copied-img {
  display: none;
}

#ticket-copy {
  display: flex;
}

#crianca-1,
#crianca-2,
#crianca-3,
#crianca-4,
#crianca-5,
#crianca-6,
#crianca-7,
#adulto-2,
#adulto-3,
#adulto-4,
#adulto-5,
#adulto-6,
#adulto-7,
#hr-adulto,
#hr-crianca,
#h1-adulto,
#h1-crianca {
  display: none;
  flex-direction: column;
}