/*
     RESET CSS
*/

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100..900&display=swap');

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}
ol, ul {
  padding: 0;
  margin: 0;
}

.abril-font {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
} 

.tradegothic-font {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    font-style: normal;
  } 
  
.montserrat-semibold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

.montserrat-semibold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserrat-14px {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

/* Variaveis */
:root {
  --color-prin: #0C1F3A;
  --color-secun: #2A82E9;
  --color-terc: #fff;
  --color-gray: #9BA4B5;
}

body{
    font-size: 100%;
    list-style-type: none;
    background-color: #FAFBFC;
    font-family: "Montserrat", sans-serif;
}

/* estilizacao */

.title-header {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.img-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), transparent), url(/img/home/header/capa.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 85vh;
  margin: 20px;
  padding: 20px;
  border-radius: 24px;
}

.btn-h {
  background-color: var(--color-terc);
  padding: 10px 24px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
}

.btn-h:hover {
  opacity: 0.9;
  transition-duration: 0.5s;
}

.voos-h {
  padding: 15px 5px;
  border-bottom: 3px var(--color-secun) solid;
  max-width: fit-content;
}

.menu-search {
  background-color: var(--color-terc);
  border-radius: 16px;
  padding: 16px 32px 32px 20px;
  box-shadow: 0px 4px 16px rgba(42, 130, 233, 0.15);
}

.search-container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.search-input {
  position: relative;
  align-items: center;
}


.search-input input {
  width: 250px;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  box-sizing: border-box;
}

.result-box {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: var(--color-terc);
  border: 1px solid #dee2e6;
  border-radius: 4px;
  padding: 5px;
  width: 600px; 
  min-width: 200px; 
  overflow-y: auto;
}

.icon-s {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.icon-s img {
  width: 24px;
}

.result-box ul li:hover {
  background-color: #e9f3ff;
  cursor: pointer;
}

/* DESTINO */
.search-input-b {
  position: relative;
  align-items: center;
}
.search-input-b input {
  width: 250px;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  box-sizing: border-box;
}
.result-box-b {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: var(--color-terc);
  border: 1px solid #dee2e6;
  border-radius: 4px;
  padding: 5px;
  width: 600px; 
  min-width: 200px; 
  overflow-y: auto;
}
.result-box-b ul li:hover {
  background-color: #e9f3ff;
  cursor: pointer;
}

.icon-dt {
  background-color: #dee2e6; 
  width: 100%;
  border: 1px solid #dee2e6;
  padding: 10px;
}


.date-input {
  position: relative;
  width: 100%;
  color: #000000;
}

.date-input label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px; /* Ajuste conforme necessário */
  pointer-events: none; /* Evita que o rótulo seja clicável */
  color: var(--color-secun); /* Cor opcional */
}

.date-form {
  width: 170px; /* Ajusta a largura para levar em conta o espaço do rótulo */
  padding: 10px;
  padding-left: 54px; /* Leva em conta o espaço ocupado pelo rótulo */
  border: 1px solid #dee2e6;
  box-sizing: border-box;
  color: #000000;
}

.person-info {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.icon-btn-search {
  width: 14px;
}

.btn-search-flight {
  padding: 11.5px;
  border-radius: 4px;
  border: none;
  color: var(--color-terc);
  column-gap: 5px;
  background-color: var(--color-secun);
}

.btn-search-flight:hover {
  opacity: 0.95;
}





/* Segunda secao */



.section-2 {
  margin-top: 150px;
}

.section-2-h1 {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 0;
}
.section-2-p {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding-top: 5px;
  margin: 0;
}

.secao-2-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90px;
  width: 90px;
  border-radius: 8px;
}

.secao-2-card {
  display: flex;
  align-items: center;
  flex-grow: 1;
  width: calc(100% * (1/4) - 10px - 1px);
  column-gap: 16px;
  background-color: var(--color-terc);
  box-shadow: 0px 4px 16px rgba(42, 130, 233, 0.15);
  padding: 16px;
  border-radius: 16px;
}

.secao-2-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 32px;
}

.section-3-card {
  width: 604px;
  align-items: center;
}

.section-3-details {
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  padding: 16px;
  height: 559px;
  justify-content: flex-end;
}

.section-3-btn {
  width: fit-content;  padding: 11.5px;
  border-radius: 4px;
  border: none;
  color: var(--color-terc);
  column-gap: 5px;
  background-color: var(--color-secun);
}

.section-3-btn :hover {
  opacity: 0.95;
}

.section-3-p {
  max-width: 70%;
  text-align: center;
}

.section-3-img {
  background-color: var(--color-terc);
  background-blend-mode:darken;
  width: 200px;
  padding: 16px;
  border-radius: 16px;
}

.section-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 24px;
}


.review-img {
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}

.review-card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: var(--color-terc);
  box-shadow: 0px 4px 16px rgba(42, 130, 233, 0.15);
  border-radius: 20px;
  width: 600px;
}

.review-card p {
  margin: 0;
  padding: 0;
}

.reviews {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
}

.us {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent), url(/img/home/us/us-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  margin-top: 20px;
  padding: 80px;
}

.us-card {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 50%;
  color: var(--color-terc);
}

.us-card p {
  text-align: justify;
}

.us-card ul {
  list-style: none;
  line-height: 35px;
}

.us-card span {
  background-color: rgba(255, 255, 255, 1);
  padding: 10px;
  border-radius: 10px;
  color: #2A82E9;
}